<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="pietimer.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/jquery-1.10.2.min.js"></script>
    <script src="./js/jquery.pietimer.js"></script>
    
    <title>RiverShen</title>
</head>
<style>
ul{
    list-style-type:none;
    padding: 0;
}
li{
    height:150px;
    width:100%;
}
li p{
    text-align: left;
}
.summoner_timer{
    position: relative;
    display: inline-block;
    width:100px;
    height:100px;
}
.summoner_select .percent{

}
.summoner_timer img{
    position: absolute;
    right:0;
    top:0;
    z-index: 0;
    filter: grayscale(50%);
    opacity: 0.5;
}
.summoner_select{
    width:100px;
}
</style>
<body>
    <div id="app">
        <div id="header">
            <h1>RiverShen</h1>        
            <p>「{{shen}}」- SHEN</p>
        </div>
        <p>LoL's Version:{{version}}</p>
        <ul>
            <li v-for="enemy in enemies">
                <p>{{enemy.name}}</p>
                <div class="summoner_timer">
                        <img :src="getSummonerSpellImg(enemy.spell1id)" alt="" srcset="">
                    <div :id="getTimerId(enemy.id,1)"></div>
                    <button @click="startTimer(enemy.id,1)">開始</button>
                </div>
                <div class="summoner_timer">
                        <img :src="getSummonerSpellImg(enemy.spell2id)" alt="" srcset="">
                    <div :id="getTimerId(enemy.id,2)"></div>
                    <button @click="startTimer(enemy.id,2)">開始</button>

                </div>                    
                <select class="summoner_select" name="getTimerId(enemy.id,1)" v-model="enemy.spell1id" @change="changeSpell($event,enemy.id,1)" :value="enemy.spell1id">
                        <option v-for="spell in spells" :value="spell.id">{{spell.name}}</option>
                </select>
                
                <select class="summoner_select"name="getTimerId(enemy.id,2)" v-model="enemy.spell2id" @change="changeSpell($event,enemy.id,2)" :value="enemy.spell2id">
                        <option v-for="spell in spells" :value="spell.id">{{spell.name}}</option>
                </select>
            </li>
        </ul>
    </div>
</body>
<script>
const shenVoiceData=[
    "是非も無い",
    "均衡を正さねば",
    "愚にもつかぬ者どもめ",
    "そこか",
    "これぞ誉れ",
    "御意",
    "均衡と共に",
    "影の忍者は卑怯者のクズでござる",
    "あいわかった",
    "光が左様に速いならば、何ゆえ忍者を捕らえられぬのだ？",
    "再生の珠で耐える所存でござる"
]
new Vue({
    el: '#app',
    data: {
        shenVoice:shenVoiceData,
        searchSummoner:"",
        version:"",
        message:"aaa",
        enemies:[{
                id:0,
                name:"top",
                champion:0,
                spell1id:4,
                spell2id:12,
            },
            {
                id:2,
                name:"jg",
                champion:0,
                spell1id:4,
                spell2id:11,
            },
            {
                id:3,
                name:"mid",
                champion:0,
                spell1id:4,
                spell2id:21,
            },
            {
                id:4,
                name:"bot",
                champion:0,
                spell1id:4,
                spell2id:21,
            },
            {
                id:5,
                name:"sup",
                champion:0,
                spell1id:4,
                spell2id:21,
            }

        ],
        spells:[]
    },
    computed: {
        shen:function(){
            let max = this.shenVoice.length;
            let randomInt = Math.floor(Math.random() * Math.floor(max));
            return this.shenVoice[randomInt];
        }
    },
    mounted() {
     //   this.getSummonerState();
        this.initializeApi();
        $('#timer').pietimer('init',{
                timerSeconds: 300,
                color: '#234',
                fill: false,
                showPercentage: true,
                callback: function() {
                    $('#timer').pietimer('reset');
                }
            });
    },
    methods:{
        getTimerId:function(enemyId,spellNo){
            return "timer_"+enemyId+"_"+spellNo;
        },
        changeTimer:function(event){
            $('#timer').pietimer('reset');
            let spell = this.spells.find(e=>{return e.id == event.target.value});
            $('#timer').pietimer('init',{
                timerSeconds: spell.cooldown,
                color: '#234',
                fill: false,
                showPercentage: true,
                callback: function() {
                    $('#timer').pietimer('reset');
                }
            });
        },
        changeSpell:function(event,enemyId,spellNo){
            let id = "#"+this.getTimerId(enemyId,spellNo);
            $(id).pietimer('reset');
            let spell = this.spells.find(e=>{return e.id == event.target.value});
            $(id).pietimer('init',{
                timerSeconds: spell.cooldown,
                color: '#234',
                fill: false,
                showPercentage: true,
                callback: function() {
                    $('#timer').pietimer('reset');
                }
            });
        },
        getSummonerState:function(){
            let url = "https://jp1.api.riotgames.com/lol/summoner/v4/summoners/by-name/%E3%81%AA%E3%81%8E%E3%81%95%E3%81%A3%E3%81%A1";
            fetch(url,{
                method:'GET',
                header:{
                    "Accept-Charset": "application/x-www-form-urlencoded; charset=UTF-8",
                    "X-Riot-Token": "RGAPI-6bf2e3a3-552e-438d-8719-96ac65cd5f85",
                    "Accept-Language": "ja,en-US;q=0.9,en;q=0.8,zh-TW;q=0.7,zh;q=0.6",
                } 
            })
            .then((response)=>response.text())
            .then((text)=>console.log(text))
            .catch((error)=>console.log(error));
        },
        startTimer:function(enemyId,spellNo){
            console.log(this.getTimerId(enemyId,spellNo));
            $('#'+this.getTimerId(enemyId,spellNo)).pietimer('start');
        },
        timerStart:function(){
            $('#timer').pietimer('start');
        },
        initializeApi:async function(){
            await fetch('https://ddragon.leagueoflegends.com/api/versions.json',{
                method:'GET',
                SameSite:'None'
            })
            .then((response)=>response.text())
            .then((text)=>this.version=JSON.parse(text)[0])
            .catch((error)=>console.log(error));
            await this.getResource();
            for(num in this.enemies){
                let enemy = this.enemies[num];
                this.setTimer("timer_"+enemy.id+"_1",this.spells.find(e=>{return e.id == enemy.spell1id}).cooldown);
                this.setTimer("timer_"+enemy.id+"_2",this.spells.find(e=>{return e.id == enemy.spell2id}).cooldown);
            }

        },
        setTimer:function(id,time){
            console.log(id)
            $('#'+id).pietimer('init',{
                timerSeconds: time,
                color: '#234',
                fill: false,
                showPercentage: true,
                callback: function() {
                    $('#'+id).pietimer('reset');
                }
            });
        },
        getSummonerSpellImg(id){
            if(this.spells.length > 0){
                return this.spells.find(e=>{return e.id == id}).img;

            }else{
                return "";
            }
        },
        getResource:async function(){
            let url = "https://ddragon.leagueoflegends.com/cdn/"+this.version+"/data/ja_JP/summoner.json";
            await fetch(url,{
                method:'GET',
                SameSite:'None'
            })
            .then((response)=>response.text())
            .then((text)=>{
                let spells = JSON.parse(text).data;
                let obj = {
                    id:"",
                    name:"",
                    img:"",
                    cooldown:"",
                    description:""
                }
                for(let key in spells){
                    let spell = spells[key];
                    let item ={};
                    item.id = spell.key;
                    item.name = spell.name;
                    item.description = spell.description;
                    item.img = "https://ddragon.leagueoflegends.com/cdn/"+this.version+"/img/spell/"+spell.image.full;
                    item.cooldown = spell.cooldown[0];
                    this.spells.push(item);
                }
            }).catch((error)=>console.log(error))
        },
        
    }
  })

</script>
</html>