<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="pietimer.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/jquery-1.10.2.min.js"></script>
    <script src="./js/jquery.pietimer.js"></script>
    
    <title>RiverShen</title>
</head>
<style>
ul{
    list-style-type:none;
}
</style>
<body>
    <div id="app">
        <div id="header">
            <p></p>
        </div>
        <select name="color1" v-model="enemies[0].spell1id" @change="changeTimer" value="4">
                <option v-for="spell in spells" :value="spell.id">{{spell.name}}</option>
        </select>
        {{enemies[0].spell1id}}
        <p>LoL's Version:{{version}}</p>
        <div><button @click="timerStart">開始</button></div>
        <div style="width: 100%;height:100px">
            <div id="timer"></div>
        </div>
        
        <div style="width: 100%;height:100px">
                <div :id="getTimerId(1,1)">aaa</div>
        </div>
        <ul>
            <li v-for="enemy in enemies">
                {{enemy.id}}
                    <div class="summoner_timer">
                        <div :id="getTimerId(enemy.id,1)"></div>
                        <button @click="startTimer(enemy.id,1)">開始</button>
                    </div>
                    <div class="summoner_timer">
                    <div :id="getTimerId(enemy.id,2)"></div>
                        <button @click="startTimer(enemy.id,2)">開始</button>
                    </div>
            </li>
        </ul>
        <ul>
                <li v-for="spell in spells">
                    <img :src="spell.img" alt="" srcset="">
                </li>
            </ul>
    </div>
</body>
<script>

new Vue({
    el: '#app',
    data: {
        searchSummoner:"",
        version:"",
        message:"aaa",
        enemies:[{
                id:0,
                name:"top",
                champion:0,
                spell1id:4,
                spell2id:1,
            }
        ],
        spells:[]
    },
    mounted() {
     //   this.getSummonerState();
        this.initializeApi();
        $('#timer').pietimer('init',{
                timerSeconds: 300,
                color: '#234',
                fill: false,
                showPercentage: true,
                callback: function() {
                    $('#timer').pietimer('reset');
                }
            });
    },
    methods:{
        getTimerId:function(enemyId,spellNo){
            return "timer_"+enemyId+"_"+spellNo;
        },
        changeTimer:function(event){
            $('#timer').pietimer('reset');
            console.log(event.target.value);
            let spell = this.spells.find(e=>{return e.id == event.target.value});
            $('#timer').pietimer('init',{
                timerSeconds: spell.cooldown,
                color: '#234',
                fill: false,
                showPercentage: true,
                callback: function() {
                    $('#timer').pietimer('reset');
                }
            });
        },
        getSummonerState:function(){
            let url = "https://jp1.api.riotgames.com/lol/summoner/v4/summoners/by-name/%E3%81%AA%E3%81%8E%E3%81%95%E3%81%A3%E3%81%A1";
            fetch(url,{
                method:'GET',
                header:{
                    "Accept-Charset": "application/x-www-form-urlencoded; charset=UTF-8",
                    "X-Riot-Token": "RGAPI-6bf2e3a3-552e-438d-8719-96ac65cd5f85",
                    "Accept-Language": "ja,en-US;q=0.9,en;q=0.8,zh-TW;q=0.7,zh;q=0.6",
                } 
            })
            .then((response)=>response.text())
            .then((text)=>console.log(text))
            .catch((error)=>console.log(error));
        },
        startTimer:function(enemyId,spellNo){
            $('#'+this.getTimerId(enemyId,spellNo)).pietimer('start');
        },
        timerStart:function(){
            $('#timer').pietimer('start');
        },
        initializeApi:async function(){
            await fetch('https://ddragon.leagueoflegends.com/api/versions.json',{
                method:'GET',
                SameSite:'None'
            })
            .then((response)=>response.text())
            .then((text)=>this.version=JSON.parse(text)[0])
            .catch((error)=>console.log(error));
            await this.getResource();
            for(num in this.enemies){
                let enemy = this.enemies[num];
                this.setTimer("timer_"+enemy.id+"_1",this.spells.find(e=>{return e.id == enemy.spell1id}).cooldown);
                this.setTimer("timer_"+enemy.id+"_2",this.spells.find(e=>{return e.id == enemy.spell2id}).cooldown);
            }

        },
        setTimer:function(id,time){
            console.log(id)
            $('#'+id).pietimer('init',{
                timerSeconds: time,
                color: '#234',
                fill: false,
                showPercentage: true,
                callback: function() {
                    $('#timer').pietimer('reset');
                }
            });
        },
        getResource:async function(){
            let url = "https://ddragon.leagueoflegends.com/cdn/"+this.version+"/data/ja_JP/summoner.json";
            await fetch(url,{
                method:'GET',
                SameSite:'None'
            })
            .then((response)=>response.text())
            .then((text)=>{
                let spells = JSON.parse(text).data;
                let obj = {
                    id:"",
                    name:"",
                    img:"",
                    cooldown:"",
                    description:""
                }
                for(let key in spells){
                    let spell = spells[key];
                    let item ={};
                    item.id = spell.key;
                    item.name = spell.name;
                    item.description = spell.description;
                    item.img = "http://ddragon.leagueoflegends.com/cdn/"+this.version+"/img/spell/"+spell.image.full;
                    item.cooldown = spell.cooldown[0];
                    this.spells.push(item);
                }
            }).catch((error)=>console.log(error))
        },
        
    }
  })

</script>
</html>